@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron homePageImage">
    <img src="\Images\Logo.jpg" alt="logo View" class="homePageImage">
</div>
<div class="row">
          @if (!(User.IsInRole("Admin") || User.IsInRole("Student") || User.IsInRole("Lecture")))
            {
    <div class="col-md-4">
     
            <h2>Register</h2>
            <p>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-info" })</p>
        
    </div>
            }
        @if (!(User.IsInRole("Admin") || User.IsInRole("Student") || User.IsInRole("Lecture")))
            {
    <div class="col-md-4">

        <h2>Log in</h2>
        <p>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success" })</p>
       
    </div>
            }
        @if (User.IsInRole("Admin") || User.IsInRole("Student") || User.IsInRole("Lecture"))
                {
    <div class="col-md-4">
        <h2>Log off</h2>
        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger">Log off</a>
        
    </div>
                }
</div>
